{% extends "todo/base.html" %}
{% load static %}
{% block head %}
<script src="{% static 'react-router/ReactRouter.min.js' %}" ></script>
<script type="text/jsx" src="{% static 'todo/test.js' %}" ></script>
{% endblock %}
{% block body %}
<div id="example"></div>
<script type="text/jsx">
    var h = function(Root) {
        React.render(<Root />, document.getElementById('example'));
    }
    console.log("routes:", routes);
    ReactRouter.run(routes, h);
    //ReactRouter.run(routes, function(Root) {React.render(<Root />, document.getElementById('example'));});
</script>
{% endblock %}